body {
    background-color: rgb(244, 247, 254);
    font-family: alk_sanetregular;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.calendar {
    text-align: center;
}

.thead {
    border: 3px solid #A2DED0;
}

.tr {
    border: 3px solid #A2DED0;

}

.th {
    text-align: center;
    border: 3px solid #A2DED0;

}
.table-bordered {
    border: 3px solid #A2DED0;
}

table.calendar > tbody {
    border: 3px solid #A2DED0;
}

table.calendar > tbody > tr {
    border: 3px solid #A2DED0;
}

table.calendar > tbody > tr > td {
    height: 60px;
    border: 3px solid #A2DED0;
    vertical-align: middle;
}

table.calendar > tbody > tr > td > div {
    overflow: hidden;
    display: inline-block;
    float: left;
}

table.calendar > tbody > tr > td.has-events {
    color: #000000;
    cursor: pointer;
    padding: 0;
    border-radius: 4px;
    vertical-align: middle;
}

table.calendar > tbody > tr > td.has-events > div {
    width: 100%;
    height: auto;
    vertical-align: middle;
}
table.calendar > tbody > tr > td.has-events > div > span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.4em;
}
.registration {
    background-color: #F62459;
}
.open-ceremony {
    background-color: #19b5fe;
}
.start-hackathon
{
    background-color: #3FC380;
}
.end-ceremony {
    background-color: rgba(26, 253, 35, 0.6);
}
.eating-breakfast {
    background-color: rgba(253, 227, 167, 0.25);
}
.eating-lunch {
    /*background-color: rgba(253, 227, 167, 0.52);*/
    background-color: #FDE3A7;
}
.eating-dinner {
    background-color: #f29f3f;
}
.preparing {
    background-color: #FAFCB3;
}
.agenda-speaker {
    background-color: rgba(169, 203, 213, 1);
}
.hacking {
    background-color: rgb(244, 247, 254);

    /*background-color: rgba(66, 220, 163, 0.42);*/
}
.addborder {
    border-right: 5px solid #333333;
    border-bottom: 5px solid #333333;
    opacity: 1;
}