/*!
 * jQuery Image Zoom
 * http://webdesignfan.com/
 *
 * Copyright 2010, Charles Stover and WebDesignFan.com
 */

/* Don't edit below this line. */
div.image-zoom { float : left; }
div.image-zoom div { background-repeat : no-repeat; }
div.image-zoom div.blur > div { background-position : -5px 0; }
div.image-zoom div.blur > div > div { background-position : 0 -5px; }
div.image-zoom div.blur > div > div > div { background-position : 5px 0; }
div.image-zoom div.blur > div > div > div > div { background-position : 0 5px; }
div.image-zoom div.box {border-radius: 50%; display : none; position : relative;}
div.image-zoom div.thumbnail {float : left; }
