html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif
}
nav#main-nav
{
    z-index: 4;
}
nav#main-nav ul {
    float: right;
    padding-right: 10px;
    margin-bottom: -2px;
}

nav#main-nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #ffffff;
}

.home-image {
    padding: 5px 5px 0px 35px;
    width: 150px;
    height: auto;
}

nav#main-nav ul li {
    display: inline-block;
    height: 100%;
}

nav#main-nav ul li a {
    text-decoration: none;
}

nav#main-nav a {
    color: #06B7FA;
    font-family: Arial, Helvetica, sans-serif
}

.nav-item-hover {
    padding: auto;
    border-bottom: 3px groove #269abc;
}

.nav-item-active {
    background-color: #c0a16b;
}

*, :before, :after {
    box-sizing: border-box;
}

.list-inline {
    overflow: hidden;
}

.list-inline li {
    float: left;
}

#main-nav ul li a {
    padding: 1.1em 1em 1.1em;
    display: block;
    text-align: center;
    /*text-transform: lowercase;*/
}

#main-nav a:hover {
    color: #fff;
}

.list-hover-slide li {
    position: relative;
    overflow: hidden;
}

.list-hover-slide a {
    display: block;
    position: relative;
    z-index: 1;
    transition: .35s ease color;
}

.list-hover-slide a:before {
    content: '';
    display: block;
    z-index: -1;
    position: absolute;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: solid 5px #393a3c;
    background: #06B7FA;
    transition: .35s ease top;
}

.list-hover-slide a.is-current:before, .list-hover-slide a:hover:before {
    top: 0;
}

/*HOME*/

.home-blur {
    background: url('img/homeBg-blur.jpg') center no-repeat fixed;
    margin-top: 50px;
    width: 100%;
    height: 100%;
}

.home-no-blur {
    background: url('img/homeBg.jpg') center no-repeat fixed;
    margin-top: 50px;
    width: 100%;
    height: 100%;
}
/*SPEAKERS*/
.speakers-bg {
    background-color: #ffffff;
}

.speakers {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.speaker {
    display: inline-block;
    padding: 2em;
    text-align: center;
    /*float: left;*/
    overflow: hidden;
    position: relative;
}

.speaker-image {
    z-index: -2;

    width: 400px;
    height: 400px;
}

.speaker img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.speaker-info {
    background-color: black;
    opacity: 0.5;
    position: absolute;
    left: -200%;
    top: 0;
    width: 400px;
    height: 400px;
    margin: 27px 0px 0px 27px;
}
.speaker-info>h3
{
    color: white;
    padding-top: 15%;
}
.speaker-info>h4
{
    color: white;
}

.speaker-over {
    background-color: #286090;
}

/*ABOUT-US*/
.about-us-bg {
    background-color: #ffffff;
    width: 100%;
    height: auto;
}

article {
    margin: 0 auto;
    font-size: 1.6em;
    line-height: 1.3em;
    width: 37.5em;
    color: #4d4d4d;
    text-align: justify;
}

article h3 {
    font-size: 1.17em;
}

article p {
    font-weight: 200;
    margin: 0 0 3em
}

.faq-content {
    padding-top: 12em;
    height: 100%;
}

/*SPONSORS*/
.sponsors-bg {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}
/*FOOTER*/
footer
{
    color: black;
}
.cover-bg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#time-line {
    padding-bottom: 100px;
}


